@keyframes preloaderAnim {
  from {
    transform: rotateY(-180deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

.preloader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 700px;
  width: 100%;
  height: 100%;
}

.preloader_hidden {
  display: none;
}

.preloader__logo {
  width: 150px;
  animation: preloaderAnim 1.5s linear infinite;
}