.flights-sort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 50px 0 0;
    padding: 0;
    border: none;
}

.flights-sort__description {
    margin-bottom: 10px;
    font-weight: bold;
}

.radio-button__input {
    margin-right: 5px;
}