.flights-list {
  position: relative;
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 40px;
}

.flights-list__show-more-btn {
  width: 255px;
  height: 30px;
  margin: 10px auto;
  border: 1px solid #000;
  background-color: #EDEDED;
}